
<div class="container">
<form role="form">
<div class="form-group col-lg-6">

  <div class="form-group row">
  <label for="itemId" class="col-2 col-form-label">Item Id</label>
    <div class="col-10">
      <input class="form-control" type="text" value="Item code" ng-model="item.itemCode" id="itemId">  
    </div>
  </div>

  <div class="form-group row">
   <label for="itemName" class="col-2 col-form-label">Item name</label>
    <div class="col-10">
    <input class="form-control" type="text" value="Item name" ng-model="item.name" id="itemName">
    </div>
  </div>

  <div class="form-group row">
   <label for="itemDesc" class="col-2 col-form-label">Item Description</label>
    <div class="col-10">
    <input class="form-control" type="text" value="Item description" ng-model="item.desc" id="itemDesc">
    </div>
  </div>

   <div class="form-group row">
   <label for="price" class="col-2 col-form-label">Price</label>
    <div class="col-10">
    <input class="form-control" type="price" value="price" id="price" ng-model="item.price">
    </div>
  </div>

<div class="form-group row">
    <label for="itemSizes">Select item sizes</label>
    <select multiple class="form-control" id="itemSizes" ng-model="item.sizes">
      <option>36</option> 
      <option>38</option>
      <option>40</option>
      <option>42</option>
      <option>44</option>
    </select>
  </div>

<div class="form-group row">
<label for="itemImage" class="col-2 col-form-label">Main image</label>
    <div class="col-10">
  <label class="custom-file">
   <input type="file" id="imageFile" class="custom-file-input" ng-model="item.image">
   <span class="custom-file-control"></span>
  </label>
</div>

  </div>

<img src="{{item.images[0]}}" height="200" ng-model="item.images[0]" alt="Image preview...">
   <button class="btn btn-lg btn-primary btn-block" ng-click="pushItem($event)" type="submit">Add Item 
   </button>



</div>
</form>

</div>