.product-detailed-img-wrap{
	padding-left: 100px;
}

.sizebox{
	/*background-color: grey;*/
    width: 18px; 
    /*height:40px;  */
   padding: 2px;
    margin: 2px;
   /* border-radius: 50%;*/
     background-color: lightgrey;
    /*border-style:groove*/;
}

.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
    border-top: none !important; 

}

