<div class="container-fluid" ng-init="getItems()">
	<div class="row">


<div class="col-md-2 col-sm-4">
  <!--Filter section -->
<div class="col-md-12 col-sm-6">
  <div class="list-group panel">
    <a class="list-group-item list-group-item strong text-center" style="background: white;" data-toggle="collapse"> FILTER BY</a>
    <a href="#demo1" class="list-group-item list-group-item-success strong" style="background: #f7f7f7;" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-photo"></i> Resource Type <i class="fa fa-caret-down"></i></a>
    <div class="collapse list-group-submenu" id="demo1">
      <a href="#" class="list-group-item"><input type="checkbox">  Audio Content</a>
      <a href="#" class="list-group-item"><input type="checkbox">  Interactive Media</a>
      <a href="#" class="list-group-item"><input type="checkbox">  Learning Game</a>
      <a href="#" class="list-group-item"><input type="checkbox">  Video</a>
    </div> 
    <a href="#demo2" class="list-group-item list-group-item strong" style="background: #f7f7f7;" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-book"></i> Readability <i class="fa fa-caret-down"></i></a>
    <div class="collapse list-group-submenu" id="demo2">
      <a href="#" class="list-group-item"><input type="checkbox">  1</a>
      <a href="#" class="list-group-item"><input type="checkbox">  2</a>
      <a href="#" class="list-group-item"><input type="checkbox">  3</a>
      <a href="#" class="list-group-item"><input type="checkbox">  4</a>
      <a href="#" class="list-group-item"><input type="checkbox">  5</a>
    </div>
    <a href="#demo4" class="list-group-item list-group-item strong" style="background: #f7f7f7;" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-language"></i> Languages <i class="fa fa-caret-down"></i></a>
    <div class="collapse list-group-submenu" id="demo4">
      <a href="#" class="list-group-item"><input type="checkbox">  English</a>
      <a href="#" class="list-group-item"><input type="checkbox">  Chinese</a>
      <a href="#" class="list-group-item"><input type="checkbox">  French</a>
        <a href="#SubSubMenu1" class="list-group-item strong" data-toggle="collapse" data-parent="#SubSubMenu1"> 3 more <i class="fa fa-caret-down"></i></a>
        <div class="collapse list-group-submenu list-group-submenu-1" id="SubSubMenu1">
          <a href="#" class="list-group-item"><input type="checkbox">  Russian</a>
          <a href="#" class="list-group-item"><input type="checkbox">  Urdu</a>
          <a href="#" class="list-group-item"><input type="checkbox">  Vietnamese</a>
        </div>
    </div>
    <a href="#demo5" class="list-group-item list-group-item strong" style="background: #f7f7f7;" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-cubes"></i>  Content Collections <i class="fa fa-caret-down"></i></a>
    <div class="collapse list-group-submenu" id="demo5">
      <a href="#" class="list-group-item"><input type="checkbox">  ARKive</a>
      <a href="#" class="list-group-item"><input type="checkbox">  BrainPOP Junior</a>
      <a href="#" class="list-group-item"><input type="checkbox">  CK-12</a>
      <a href="#" class="list-group-item"><input type="checkbox">  Khan Academy</a>
      <a href="#" class="list-group-item"><input type="checkbox">  Library of Congress</a>
      <a href="#" class="list-group-item"><input type="checkbox">  NCTM Illuminations</a>
      <a href="#" class="list-group-item"><input type="checkbox">  PBS</a>
      <a href="#" class="list-group-item"><input type="checkbox">  Teach Engineering</a>
    </div>
      <a class="list-group-item list-group-item strong text-center" style="background: #009ce0; color: white;" data-toggle="collapse"><button type="button" class="btn btn-success btn-sm">SEARCH</button> </a>
  </div>
</div>

</div>














    <div class="col-md-10 col-sm-8"   >
      <h3 >NEW ARRIVALS IN CLOTHING FOR MEN </h3>
    	<!-- BEGIN PRODUCTS -->
  		<div class="col-md-3 col-sm-6" ng-repeat="item in items" >
    		<span class="thumbnail">
      			<img ng-src="{{item.images[0]}}" alt="..." width="203" >
      			<h4>{{item.name}}</h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
      			<h5 class="group inner list-group-item-heading"> HIRVI FASHIONS</h5>
             <h6> Size :<b ng-repeat="size in item.sizes">{{size}}{{$last ? '' : ', '}}</b></h6
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">  <i class="fa fa-rupee"></i>{{item.price}}</p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > BUY ITEM</button>
      				</div>
      				
      			</div>
    		</span>
  		</div>
  		<!-- <div class="col-md-3 col-sm-6">
    		<span class="thumbnail">
      			<img src="http://placehold.it/500x400" alt="...">
      			<h4>Product Tittle</h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
      			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">$29,90</p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > BUY ITEM</button>
      				</div>
      				
      			</div>
    		</span>
  		</div>
  		<div class="col-md-3 col-sm-6">
    		<span class="thumbnail">
      			<img src="http://placehold.it/500x400" alt="...">
      			<h4>Product Tittle</h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
      			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">$29,90</p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > BUY ITEM</button>
      				</div>
      				
      			</div>
    		</span>
  		</div>
  		<div class="col-md-3 col-sm-6">
    		<span class="thumbnail">
      			<img src="http://placehold.it/500x400" alt="...">
      			<h4>Product Tittle</h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
      			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">$29,90</p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > BUY ITEM</button>
      				</div>
      				
      			</div>
    		</span>
  		</div> -->
  		<!-- END PRODUCTS -->
    </div>
	</div>
</div>