<div class="container-fluid" ng-init="getItems()">
	<div class="row">


<div class="col-md-2 col-sm-4">
  <!--Filter section -->
<div class="col-md-12 col-sm-6">
  <div class="list-group panel">
    <a class="list-group-item list-group-item strong text-center" style="background: white;" data-toggle="collapse"> FILTER BY</a>
    <a href="#cat1" class="list-group-item list-group-item-success strong" style="background: #f7f7f7;" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-photo"></i> Category <i class="fa fa-caret-down"></i></a>
    <div class="collapse list-group-submenu" id="cat1">
      <a href="#" class="list-group-item"><input type="checkbox"> Shirts</a>

    </div> 
    <a href="#occa" class="list-group-item list-group-item strong" style="background: #f7f7f7;" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-book"></i> Occasion <i class="fa fa-caret-down"></i></a>
    <div class="collapse list-group-submenu" id="occa">
      <a href="#" class="list-group-item"><input type="checkbox">  Formal</a>
      <a href="#" class="list-group-item"><input type="checkbox">  Casual</a>
      <a href="#" class="list-group-item"><input type="checkbox">  Party wear</a>
      <a href="#" class="list-group-item"><input type="checkbox">  Business casuals</a>
 
    </div>
    <a href="#price" class="list-group-item list-group-item strong" style="background: #f7f7f7;" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-language"></i> Price <i class="fa fa-caret-down"></i></a>
    <div class="collapse list-group-submenu" id="price">
      <a href="#" class="list-group-item"><input type="checkbox">  1000 and below</a>
      <a href="#" class="list-group-item"><input type="checkbox"> 1000-1499 </a>
      <a href="#" class="list-group-item"><input type="checkbox">  above 1499</a>
        <!-- <a href="#SubSubMenu1" class="list-group-item strong" data-toggle="collapse" data-parent="#SubSubMenu1"> 3 more <i class="fa fa-caret-down"></i></a>
        <div class="collapse list-group-submenu list-group-submenu-1" id="SubSubMenu1">
          <a href="#" class="list-group-item"><input type="checkbox">  Russian</a>
          <a href="#" class="list-group-item"><input type="checkbox">  Urdu</a>
          <a href="#" class="list-group-item"><input type="checkbox">  Vietnamese</a>
        </div> -->
    </div>
    <a href="#sizes" class="list-group-item list-group-item strong" style="background: #f7f7f7;" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-cubes"></i>  Sizes <i class="fa fa-caret-down"></i></a>
    <div class="collapse list-group-submenu" id="sizes">
      <li class="list-group-item"><input type="checkbox">  36</li>
      <li  class="list-group-item"><input type="checkbox">  38</li>
      <li  class="list-group-item"><input type="checkbox">  40</li>
      <li  class="list-group-item"><input type="checkbox">  42</li>
      <li  class="list-group-item"><input type="checkbox">  44</li>
      <li  class="list-group-item"><input type="checkbox">  46</li>
     
    </div>
      <a class="list-group-item list-group-item strong text-center" style=" color: white;" data-toggle="collapse"><button type="button" class="btn btn-success btn-sm">SEARCH</button> </a>
  </div>
</div>

</div>














    <div class="col-md-10 col-sm-8"   >
<!--       <div class="col-md-1 col-sm-8"></div>
 -->      <div class="col-md-12 col-sm-8">
      <h4 class="page-header" >NEW ARRIVALS IN CLOTHING FOR MEN </h4>
    </div>
    	<!-- BEGIN PRODUCTS -->
  		<div class="col-md-3 col-sm-6" ng-repeat="item in items" >
    		<span class="thumbnail">
      			<img ng-src="{{item.images[0]}}" alt="..." width="203" >
      			<h4>{{item.name}}</h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
      			<h5 class="group inner list-group-item-heading"> HIRVI FASHIONS</h5>
             <h6> Size :<b ng-repeat="size in item.sizes">{{size}}{{$last ? '' : ', '}}</b></h6
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">  <i class="fa fa-rupee"></i>{{item.price}}</p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > BUY ITEM</button>
      				</div>
      				
      			</div>
    		</span>
  		</div>
  		<!-- <div class="col-md-3 col-sm-6">
    		<span class="thumbnail">
      			<img src="http://placehold.it/500x400" alt="...">
      			<h4>Product Tittle</h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
      			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">$29,90</p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > BUY ITEM</button>
      				</div>
      				
      			</div>
    		</span>
  		</div>
  		<div class="col-md-3 col-sm-6">
    		<span class="thumbnail">
      			<img src="http://placehold.it/500x400" alt="...">
      			<h4>Product Tittle</h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
      			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">$29,90</p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > BUY ITEM</button>
      				</div>
      				
      			</div>
    		</span>
  		</div>
  		<div class="col-md-3 col-sm-6">
    		<span class="thumbnail">
      			<img src="http://placehold.it/500x400" alt="...">
      			<h4>Product Tittle</h4>
      			<div class="ratings">
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star-empty"></span>
                </div>
      			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
      			<hr class="line">
      			<div class="row">
      				<div class="col-md-6 col-sm-6">
      					<p class="price">$29,90</p>
      				</div>
      				<div class="col-md-6 col-sm-6">
      					<button class="btn btn-success right" > BUY ITEM</button>
      				</div>
      				
      			</div>
    		</span>
  		</div> -->
  		<!-- END PRODUCTS -->
    </div>
	</div>
</div>